@use 'common/mixin' as *;

.main-ttl{
  width: 100%;
  height: 200px;
  background: linear-gradient(to right, rgba(77, 212, 255, .2), rgba(203, 77, 255, .2));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include sp{
    justify-content: center;
    padding-left: px(10);
    height: px(150);
    box-sizing: border-box;
  }

  h2{
    font-weight: bold;
    font-size: 28px;
    background: #fff;
    text-align: center;
    padding: 11px 7px;
    min-width: 300px;

    @include sp{
      font-size: px(18);
    }
  }
  
  span{
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 28px;
    background: #fff;
    width: fit-content;
    padding: 11px 7px;

    @include sp{
      font-size: px(18);
    }
  }
}

table{
  width: 1000px;
  margin: 50px auto 0;

  @include sp{
    margin-top: px(30);
    width: 95%;
  }
  
  tr{
    border-top: solid 1px #ddd;
    
    th{
      text-align: left;
      font-size: 15px;
      font-weight: bold;
      padding: 15px 30px;
      width: 150px;
      box-sizing: border-box;
      vertical-align: top;
      line-height: 2;

      @include sp{
        width: px(100);
        font-size: px(15);
        padding: px(15) 0;
        
      }
    }
    
    td{
      width: 850px;
      padding: 15px 30px;
      box-sizing: border-box;
      line-height: 1.5;
      font-size: 15px;
      
      @include sp{
        width: px(256);
        font-size: px(14);
        padding: px(15) 0;
      }
    }

    &:last-child{
      border-bottom: solid 1px #ddd;
    }
  }
}

.entry-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 277px;
  height: 60px;
  background: linear-gradient(to left, #4DD4FF, #E64DFF);
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-family: var(--jost);
  font-size: 18px;
  letter-spacing: .2em;
  border-radius: 5px;
  margin: 50px auto 100px;
  transition: .3s;

  @include sp{
    width: px(277);
    height: px(60);
    font-size: px(18);
    border-radius: px(5);
    margin: px(50) auto;
  }

  &:hover{
    opacity: .8;
    transition: .3s;
  }
}

