@use 'mixin' as *;

footer{
  background: #303030;
  
  .container{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include sp{
      padding: px(30) px(80) px(30) px(10);
      display: block;
      box-sizing: border-box;
    }

    img{
      width: 140px;

      @include sp{
        width: px(140);
      }
    }

    ul{
      display: flex;
      flex-flow: row wrap;

      @include sp{
        margin-top: px(25);
      }

      li{
        a{
          color: #fff;
          text-decoration: none;
          font-size: 14px;
          display: flex;
          align-items: center;
          transition: .3s;

          @include sp{
            font-size: px(14);
          }

          &:before{
            content: "\e89e";
            color: #fff;
            font-family: var(--material);
            font-size: 18px;
            margin-right: 5px;
            font-variation-settings: 'wght' 200;

            @include sp{
              margin-right: px(5);
              font-size: px(16);
            }
          }

          &:hover{
            opacity: .7;
            transition: .3s;
          }
        }

        +li{
          margin-left: 15px;

          @include sp{
            margin-left: px(16);
          }
        }

        &:nth-of-type(2n-1){
          @include sp{
            margin-left: 0;
          }
        }

        &:nth-of-type(n+3){
          @include sp{
            margin-top: px(15);
          }
        }
      }
    }

    small{
      color: #fff;
      font-size: 12px;
      margin-top: 20px;
      display: block;
      text-align: right;

      @include sp{
        text-align: left;
        font-size: px(12);
        margin-top: px(30);
      }
    }
  }
}